#content {

    .container {
     
        font-size: 14px;

        .validation{
            margin: 5px 0;
        }

        .list_top_area {
            width: 100%;
            min-height: 30px;

            a.regist_link {
                margin: 0;
            }
        }

        table.list {
            width: 100%;
            margin: 50px 0 0;
        }

        table.form,
        table.confirm {
            width: 100%;
            margin: 20px 0 0;
            border-collapse: collapse;

            th{
                background: #f2f2f2;
                padding: 3px 5px;
                border-right: 1px solid #ccc;
            }

            td{
                background: #fafafa;
                padding: 10px 10px;

                label {
                    margin-right: 10px;
                    cursor: pointer;

                    input[type=checkbox] {
                        margin-left: 10px;
                    }    
                }
            }
        }

        .submit_place {
            text-align: center;
            margin-top: 20px;
            width: 100%;

            button {
                width: 20%;
                padding: 10px 20px;
                margin: 0 10px;
                background: #fafafa;
                border: 1px solid #ccc;
                border-radius: 5px;
                cursor: pointer;
                box-shadow: 2px 2px 4px #ccc;
            }
        }
    }
}