#article_page{
    padding: 0 10px;
}

#article_area h2.article_title{
    background: #FFF;
    font-size:32px;
    padding-left: 0;
    margin: 5px 0px 0px;
    word-wrap: break-word;
}

.article_info_area{
    display: flex;
    font-size: 13px;
}

.article_info_area .article_info_date{
    margin-left: 10px;
}

.article_info_area img{
    width: 22px;
    border-radius: 50%;
    vertical-align: middle;
}

.article_info_area .article_info_writer{
    font-weight: bold;
}

.article_tag_area .tag_single{
    font-size: 10px;
    display: inline-block;
    padding: 3.5px 5px;
    line-height: 1;
    text-decoration: none;
    color: var(--main-lightcolor);
    background-color: #FFF;
    border: 1px solid var(--main-lightcolor);
    border-radius: 2em;    
}

.article_main{
    margin-top: 70px;
    margin-bottom: 100px;
    word-break: break-all;
}

.article_main img{
    max-width: 100%;
    height: auto;
}

#same_auther_category{
    padding: 15px 0;
    border-top: 1px solid #404040;
    border-bottom: 1px solid #404040;
    margin-bottom: 150px;
    height: 82px;
}

#same_auther_category .title{
    font-weight: bold;
    text-align: center;
    padding: 0 0 10px;
}

#same_auther_category .link_area .preview{
    width: 35%;
    text-align: left;
    display: inline-block;
}

#same_auther_category .link_area .next{
    width: 35%;
    text-align: right;
    float:right;
    display: inline-block;
}

.preview .preview_link,
.next .next_link{
    width:100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#relative{
    margin-bottom: 100px;
}

.relative_title{
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    border-bottom: 3px double #404040;
    margin-bottom: 30px;
}

#relative h3{
    text-align: left;
    padding-left: 5px;
}



/**h1*/
.article_main h1{
    margin:  0;                 /* デフォルトCSS打ち消し */
    position:  relative;        /* 位置調整 */
    font-size: 24px;            /* 文字サイズ指定 */
    background-color:  #d8130c;    /* 背景色指定 */
    color:  #000;               /* 文字色指定 */
    padding: 10px 0 10px 30px;  /* 余白指定 */
    margin-bottom:  20px;       /* 周りの余白指定 */
    text-shadow: 1px 1px 0 #FFF;
}
 
.article_main h1:before {
    content: '';                /* 空の要素を作る */
    height: 100%;               /* 高さ指定 */
    width: 3px;                 /* 幅指定 */
    display:  block;            /* ブロック要素にする */
    position:  absolute;        /* 位置調整 */
    left: 14px;                 /* 位置調整 */
    top: 0px;                  /* 位置調整 */
    margin:  auto;              /* 位置調整 */
    background-color:  #000;    /* 背景色指定 */
    transform: rotate(3deg);    /* 回転 */
}
.article_main h1:after {
    content: '';                /* 空の要素を作る */
    height: 100%;               /* 高さ指定 */
    width: 3px;                 /* 幅指定 */
    display:  block;            /* ブロック要素にする */
    position:  absolute;        /* 位置調整 */
    left: 14px;                 /* 位置調整 */
    top: 0px;                  /* 位置調整 */
    margin:  auto;              /* 位置調整 */
    background-color:  #000;    /* 背景色指定 */
    transform: rotate(-15deg);  /* 回転 */
}

.article_main table{
    border-collapse:collapse;
    width: 100%;
}

.article_main a{
    color:#44c;
    text-decoration: underline;
}


.article_main h2 {
    position: relative;
    padding: 0.8em 0.6em;
    text-align: center;
    background: #FFF;
    font-size: 24px;
}

.article_main h2:before,
.article_main h2:after {
  position: absolute;
  content: '';
}

.article_main h2:after {
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border-top: 2px solid #d8130c;
  border-left: 2px solid #d8130c;
}

.article_main h2:before {
  right: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  border-right: 2px solid #d8130c;
  border-bottom: 2px solid #d8130c;
}

.article_main h4{
    position: relative;
    padding: 1rem .5rem;
    font-size: 24px;
}

.article_main h4:before,
.article_main h4:after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 6px;
  content: '';
}

.article_main h4:before {
  top: 0;
  background-image: -webkit-gradient(linear, right top, left top, from(#000), to(#d8130c));
  background-image: -webkit-linear-gradient(right, #830000 0%, #fd1313 100%);
  background-image: linear-gradient(to left,#830000 0%, #fd1313 100%);
}

.article_main h4:after {
  bottom: 0;
  background-image: -webkit-gradient(linear, right top, left top, from(#000), to(#d8130c));
  background-image: -webkit-linear-gradient(right, #830000 0%, #fd1313 100%);
  background-image: linear-gradient(to left,#fd1313 0%, #830000 100%);
}











