form.login{
    width:75%;
    margin: 70px auto 0;
}

form.login table{
    width: 100%;
}

td.title{
    width: 5%;
    text-align: right;
    padding: 10px;
    font-weight: bold;
}

#name,
#email,
#password,
#password_confirmation{
    height: 30px;
    width: 100%;
}

#name:focus,
#email:focus,
#password:focus,
#password_confirmation:focus {
    box-shadow: 0 0 5px 0 #404040;
    border: 2px solid #404040 !important;
    outline: 0;
}

.out_form{
    text-align: center;
}

#remenber_check,
#pass_forget,
#sign_forget,
#login_submit,
#register_submit{
    display: block;
    margin-bottom: 40px;
}

#register_submit,
#login_submit {
    background: #FFDABF;
    background-image: -webkit-linear-gradient(top, #FFDABF, #F49000);
    background-image: -moz-linear-gradient(top, #FFDABF, #F49000);
    background-image: -ms-linear-gradient(top, #FFDABF, #F49000);
    background-image: -o-linear-gradient(top, #FFDABF, #F49000);
    background-image: -webkit-gradient(to bottom, #FFDABF, #F49000);
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
    height: 45px;
    line-height: 45px;
    color: #FFFFFF;
    font-family: Arial;
    width: 289px;
    font-size: 49px;
    font-weight: 500;
    padding: 21px;
    -webkit-box-shadow: 0 1px 5px 0 #858585;
    -moz-box-shadow: 0 1px 5px 0 #858585;
    box-shadow: 0 1px 5px 0 #858585;
    text-shadow: -2px 3px 5px #5F3800;
    border: solid #A46000 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }

/* #register_submit:hover,
#login_submit:hover{
    color: #fff;
    background-color: #dcdcdc;
} */

#register_submit{
    margin-top: 30px;
}