:root {
    --main-color: #404040;
    /* --main-bgcolor: #404040; */
    --main-bgcolor: linear-gradient(#f7f7f7, #e2e2e2, #f7f7f7);
    /* --main-bgcolor: linear-gradient(#ffe815, #ffae62); */
}
  

body{
    margin: 0;
}

/**************
*header
***************/
header{
    width:100%;
    height: 87px;
    position: fixed;
    margin: -87px 0 0;
    background-color: #FFF;
    opacity: 0.95;
    z-index: 100;
}

.header_first_area{
    height: 45px;
}

.header_title_area{
    float: left;
}

.header_btn_area{
    float: right;
    display:flex;
    position: relative;
    top:13px;
    right:15px;
}

.header_btn_area a{
    color: #000;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    padding: 7px 18px;
    height: 17px;
    top: -4px;
}

.header_btn_area a.regist_member{
    background: var(--main-bgcolor);
    /* border: 1px solid var(--main-color); */
    border-radius: 10px;
    color: var(--main-color);
}

.search{
    width:18px;
    vertical-align: middle;
    
}

.header_second_area{
    height: 36px;
    text-align: center;
    margin-top: 3px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.header_second_area a{
    color: #000;
    text-decoration: none;
    display:inline-block;
    padding: 3px 0px;
    font-size: 12px;
    width:11%;
    vertical-align: -webkit-baseline-middle;
}

.header_second_area a img{
    width:72px;
    height: 30px;
}
/**************
*main
***************/
main{
    width:1024px;
    margin: 87px auto 0;
}
/**sideNavi*/

#side_navi{
    float:right;
    width: 200px;
    right:5px;
    padding-top: 30px;
}

#side_navi .side_title{
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    background: var(--main-bgcolor);
    border-radius: 10px;
    color: var(--main-color);
    padding: 3px;
}

#side_navi ul{
    padding-left:5px;
    list-style-type: none;
}

#side_navi ul a{
    text-decoration: none;
}

#side_navi ul li{
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
    margin-bottom: 8px;
}

#side_navi ul li .side_navi_date{
    font-size: 12px;
}

#side_navi ul li .side_navi_title{
    margin:-1px 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.side_navi_auther,
.side_navi_category{
    font-size: 10px;
}

#side_navi ul li .side_navi_date:hover{
    text-decoration: underline;
}

#side_navi ul li .side_navi_title:hover{
    text-decoration: underline;
}

.side_navi_auther:hover,
.side_navi_category:hover{
    text-decoration: underline;
}


/**content*/

#content{
    width:794px;
    padding: 30px 25px 30px 17px;
    min-height: 1800px;
}


/**************
*top_page特有のmain
***************/
#site_intro{
    margin-top: 87px;
}

#top_page_main{
    margin: 0 auto;
    max-width:1024px;
}

/**************
*footer
***************/
footer{
    width: 100%;
    background: var(--main-bgcolor);
}




/****************************
*
**iPad(1023px以下)用-レスポンシブ
*
****************************/

@media screen and (max-width: 1023px){

    #side_navi {
        width: 21%;
    }

    #content {
        width: 77%;
        padding: 30px 6px 30px 7px;
    }


}/*min-width: 481px*/