:root {
    --main-color: #404040;
    --main-lightcolor: #949494;
    --main-bgcolor: linear-gradient(#f7f7f7, #e2e2e2, #f7f7f7);
}
  

body{
    margin: 0;
    font-family: Montserrat;
}

a:hover{
    opacity: 0.7;
}

/**************
*header
***************/
header{
    width:100%;
    height: 87px;
    position: fixed;
    margin: -87px 0 0;
    background-color: #FFF;
    opacity: 0.95;
    z-index: 100;
}

.header_first_area{
    height: 45px;
}

.header_title_area{
    float: left;
}

.header_btn_area{
    float: right;
    display:flex;
    position: relative;
    top:13px;
    right:15px;
}

.header_btn_area a{
    color: #000;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    padding: 7px 18px;
    height: 17px;
    top: -4px;
}

.header_btn_area a.regist_member{
    background: var(--main-bgcolor);
    /* border: 1px solid var(--main-color); */
    border-radius: 10px;
    color: var(--main-color);
}

.search{
    width:18px;
    vertical-align: middle;
    
}

.header_second_area{
    height: 36px;
    text-align: center;
    margin-top: 3px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.header_second_area a{
    color: #000;
    text-decoration: none;
    display: inline-block;
    padding: 3px 0px;
    font-size: 15px;
    width: 11%;
    vertical-align: -webkit-baseline-middle;
    font-weight: bold;
    margin-top: 6px;
}

.header_second_area a:hover{
    text-decoration: none;
    background: #dcdcdc;
}

.header_second_area a img{
    width:72px;
    height: 30px;
}
/**************
*main
***************/
main{
    max-width:1024px;
    margin: 87px auto 0;
}
/**sideNavi*/

#side_navi{
    float:right;
    width: 200px;
    right:5px;
    padding-top: 30px;
}

#side_navi .side_title{
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    background: var(--main-bgcolor);
    border-radius: 10px;
    color: var(--main-color);
    padding: 3px;
}

#side_navi ul{
    padding-left:5px;
    list-style-type: none;
}

#side_navi ul a{
    text-decoration: none;
}

#side_navi ul a:hover{
    text-decoration: underline;
}

#side_navi ul li{
    border-bottom: 1px solid var(--main-lightcolor);
    padding-bottom: 8px;
    margin-bottom: 8px;
}

#side_navi ul li .side_navi_date{
    font-size: 12px;
}

#side_navi ul li .side_navi_title{
    margin: 5px 0;
    line-height: 1.2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    word-break: break-all;
}

.side_navi_auther,
.side_navi_category{
    font-size: 10px;
}


/**content*/

#content{
    width:794px;
    padding: 30px 25px 30px 17px;
    min-height: 1800px;
    color: var(--main-color);
}

.section_inner{
    padding: 0 10px;
}

/**h2*/

h2{
    color: var(--main-color);
    font-size: 65px;
    font-family: Montserrat;
    margin: 0px 0px 40px;
    padding-left:15px;
    background: #f2f2f2;
}

h2.ja{
    font-size: 55px;
}

.section_separation{
    padding: 40px;
}


/**************
*top_page特有のmain
***************/
#site_intro{
    margin-top: 87px;
}

#top_page_main{
    margin: 0 auto;
    max-width:1024px;
}

/**************
*footer
***************/
footer{
    width: 100%;
    border-top: 1px solid var(--main-color);
}

footer .footter_iiner{
    max-width: 1024px;
    margin: 20px auto;
}

footer .footer_blog_area{
    text-align: center;
    border-bottom: 1px solid var(--main-color);

}

footer .site_contents_blog h3{
    margin-bottom: 0;
    border-bottom: 1px solid #404040;
    text-align: center;
}

footer .footer_blog_area .blog_auther{
    margin-top: 18px;
    margin-bottom: 18px;
    margin-right: 10px;
    display: inline-block;
}

footer .footer_blog_area h4{
    text-align: left;
    margin: 0;
}

footer .footer_blog_area ul{
    list-style: none;
    font-size: 12px;
    padding: 0;
    margin: 0;
}

footer .footer_blog_area ul li{
    margin-bottom: 3px;
}

footer .anothersite_link_area{
    text-align: center;
}

footer .wblink_area{
    margin-top: 40px;
}

footer .footer_summary{
    margin-top: 10px;
}

footer .footer_summary_item{
    display: inline-block;
    font-size: 12px;
    padding: 0 10px 0 4px;
    border-right: 1px solid #404040;
}

footer .footer_summary_item:first-child{
    border-left: 1px solid #404040;
}

footer .snslink_area{
    margin-top: 40px;
}

footer .snslink_area a{
    margin: 10px;
}

footer .cheer{
    border-top: 1px solid var(--main-color);
    font-size: 16px;
    width: 350px;
    margin: 0 auto;
    font-weight: bold;
}

footer .footer_base{
    font-size: 12px;
    text-align: center;
    border-top: 1px solid var(--main-color);
}

/****************************
*
**iPad(1023px以下)用-レスポンシブ
*
****************************/

@media screen and (max-width: 1023px){

    #side_navi {
        width: 21%;
    }

    #content {
        width: 77%;
        padding: 30px 6px 30px 7px;
    }

    .section_inner{
        padding: 0;
    }

    .header_second_area a{
        font-size: 12px;
    }
    
    

}/*min-width: 481px*/

@media screen and (max-width: 900px){

    footer .footer_blog_area .blog_auther{
        margin-right: 8px;
    }

    footer .footer_blog_area ul{
        font-size: 10px;
    }

}/*min-width: 481px*/
