#fixed_page{
    margin-bottom: 80px;
}

#fixed_page h2.ja{
    font-size: 45px;
}


#fixed_page .sub_title{
    font-size: 1.3em;
    font-weight: bold;
    font-family: 'RocknRoll One', sans-serif;
}

#fixed_page .pink{
    color:#ff5757;
    font-size: 1.1em;
    font-family: 'RocknRoll One', sans-serif;
}

#fixed_page .big_font{
    font-size: 1.8em;
}

#fixed_page .small_caution{
    font-size: 10px;
}

#fixed_page .bold{
    font-weight: bold;
    font-size: 1.1em;
}

#fixed_page .block_mass{
    margin-top: 90px;
}

#fixed_page .inner_block_mass{
    margin: 25px 0 70px;
}
#fixed_page .block_mass h4{
    font-size:1.4em;
    text-align: center;
    border-bottom: 3px double #404040;
}

#fixed_page h5{
    width: fit-content;
    border-bottom: 1px solid;
    font-family: 'RocknRoll One', sans-serif;
    font-size: 21px;
    margin-bottom: 0;
}

#fixed_page .name{
    margin-top: 55px;
    font-weight: bold;
    font-size: 0.9em;
}

#fixed_page ul{
    font-family: 'RocknRoll One', sans-serif;
}

#fixed_page ul.outline_list{
    list-style: square;
    margin-bottom: 0;
}

#fixed_page ul.inline_list{
    list-style: decimal;
}

#fixed_page .mar_left{
    margin-left: 15px;
}

#fixed_page .up_same{
    margin-top: 0;
}

#fixed_page .down_same{
    margin-bottom: 0;
}

#fixed_page .help_contact_main{
    display: flex;
    margin: 0 0 50px;
}

#fixed_page .help_contact_img_area{
    width: 50%;
    height: fit-content;
}

#fixed_page .pure_width{
    width: 100%;
    height: fit-content;
}

#fixed_page .help_contact_main ul{
    list-style: decimal-leading-zero;
    font-family: auto;
}

#fixed_page .help_contact_main ul li{
    margin-bottom: 15px;
}

#fixed_page .help_login{
    width: 100%;
}

#fixed_page .font_bold{
    font-weight: bold;
}

#fixed_page .help_contact_title{
    padding: 2px 2px 2px 10px;
    background: linear-gradient(0.25turn, #f1f1f1, #ffffff);
    border-left: 3px solid #c1c1c1;
}

#fixed_page .title_02{
    margin: 60px 0 15px;
}

#fixed_page .help_sep{
    display: flex;
}

#fixed_page .half_width{
    width: 50%;
    height: fit-content;
}










