
/**Swiper[patern_01]*/
.patern_01 .swiper-container{
    height:280px;
}

.patern_01 .swiper-slide{
    height: 85%;
    text-align: center;
}

.patern_01 .swiper-button-next:after{
    content: '';
    background-image: url("/images/front/icon_next.svg");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}

.patern_01 .swiper-button-prev:after{
    content: '';
    background-image: url("/images/front/icon_prev.svg");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}

.patern_01 .swiper-pagination-bullet-active{
    background: #404040;
}

.patern_01 .swiper-button-prev{
    top:266px;
    left: 320px;
    right:auto;
}

.patern_01 .swiper-button-next{
    top:266px;
    right: 320px;
    left:auto;
}

.patern_01 img{
    max-width: 190px;
    height: 150px;
}

.patern_01 .title{
    margin: -1px 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0 2px;
}

.patern_01 .category,
.patern_01 .update_date{
    font-size: 12px;
    text-align: left;
}

.patern_01 .category span,
.patern_01 .update_date{
    color:#ccc;
}


  /****************************
*
**iPad(1023px以下)用-レスポンシブ
*
****************************/

@media screen and (max-width: 1023px){
    .patern_01 img{
        width: 98%;
        height: 146px;
    }

    .patern_01 .swiper-button-prev{
        left: 200px;
    }
    
    .patern_01 .swiper-button-next{
        right: 200px;
    }
    
}/*min-width: 481px*/