#article_area{
    padding-top: 15px;
    margin-bottom: 60px;
}

#article_area h2.article_title{
    background: #FFF;
    font-size:22px;
    padding-left: 0;
    margin: 5px 0 0;
    text-align: left;
}

.article_info_area{
    display: flex;
    font-size: 13px;
}

.article_info_date{
    font-size: 11px;
    color: rgb(189, 189, 189);
}

.article_info_area img{
    width: 22px;
    border-radius: 50%;
    vertical-align: middle;
}

.article_info_area .article_info_writer{
    font-weight: bold;
}

.article_tag_area .tag_single{
    font-size: 10px;
    display: inline-block;
    padding: 3.5px 5px;
    line-height: 1;
    text-decoration: none;
    color: #949494;
    background-color: #FFF;
    border: 1px solid #949494;
    border-radius: 2em;
    vertical-align: text-bottom;
}

.article_main{
    margin: 50px 0 30px;
}

.article_main p{
    word-break: break-all;
}

.article_main img{
    max-width: 100%;
    height: auto;
}


#same_auther_category{
    padding: 15px 0;
    border-top: 1px solid #404040;
    border-bottom: 1px solid #404040;
    margin-bottom: 60px;
    height: 76px;
}

#same_auther_category .title{
    font-weight: bold;
    text-align: center;
    padding: 0 0 10px;
}

#same_auther_category .link_area .preview{
    width: 45%;
    text-align: left;
    display: inline-block;
    font-size: 14px;
}

#same_auther_category .link_area .next{
    width: 45%;
    text-align: right;
    float:right;
    display: inline-block;
    font-size: 14px;
}

.preview .preview_link,
.next .next_link{
    width:100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


#relation .head_title{
    font-size: 22px;
    text-align: center;
    border-bottom: 3px double #404040;
}

#relation .relative_title{
    padding-top: 15px;
    border-bottom: 1px solid #404040;
    margin-bottom: 5px;
    font-weight: bold;
}

#relation{
    margin-bottom: 60px;
}
