.auther_mass{
    margin-bottom: 90px;
}

#auther_page .auther_mass{
    margin-bottom: 30px;
}

.auther_mass img{
    float: right;
    border-radius: 50%;
    width: 35%;
    right: 2%;
    position: relative;
    z-index: 1;
}

#auther_page .auther_mass img{
    right: 0%;
    top: 15px;
}

.auther_mass .auther_name{
    font-weight: bold;
    font-size: 20px;
    width: 60%;
    border-bottom: 3px double #404040;
    position: relative;
    top: 5px;
    line-height: 1.2;
    text-align: center;
}

.auther_mass .auther_category_title,
.auther_mass .auther_profile_title{
    font-size: 14px;
    background: linear-gradient(0.25turn, #f1f1f1, #ffffff);
}

.auther_profile{
    font-size: 14px;
    margin: 3px 0 10px;
}

.auther_mass .auther_profile_area{
    position: relative;
    top: 15px;
}

.auther_mass .auther_category_title_list{
    list-style: none;
    font-size: 14px;
    padding-left: 0;
    margin-top: 3px;
}

.auther_mass .auther_category_title_list a{
    text-decoration: none;
}

.auther_mass .auther_category_title_list a:hover{
    text-decoration: underline;
}

.auther_mass .to_auther_link{
    width: 77%;
    margin: 25px auto;
    text-align: center;
    border: 1px solid #404040;
    padding: 7px 10px;
    border-radius: 4px;
}

.auther_mass .to_auther_link a{
    text-decoration: none;
}

.auther_mass .to_auther_link a:hover{
    text-decoration: underline;
}


@media screen and (max-width: 380px){

    #auther_page .auther_mass img {
        top: 10px;
        right: -0.5%;
    }


}/*min-width: 481px*/

@media screen and (max-width: 330px){

    #auther_page .auther_mass img {
        top: 45px;
        right: 0%;
    }

    .auther_mass .auther_name{
        font-size: 18px;
    }
    

}/*min-width: 481px*/
