#fixed_page h2{
    font-size: 40px;
    padding-top: 20px;
    margin-bottom: 10px;
}
#fixed_page h2.ja{
    font-size: 32px;
}
#fixed_page h3 {
    border-bottom: 3px double #404040;
}
#fixed_page .subtitle{
    font-family: 'RocknRoll One', sans-serif;
    margin-bottom: 60px;
}

#fixed_page .block_mass p{
    font-size: 0.9em;
    margin-bottom: 20px;
}

#fixed_page .pink{
    color: #ff5757;
    font-size: 1.2em;
    font-family: 'RocknRoll One', sans-serif;
}

#fixed_page .big_font{
    font-size: 2.0em;
}

#fixed_page .y_big_font{
    display: inline-block;
    font-size: 1.3em;
    line-height: 2.3;
    transform: scale(1, 2.0);
}

#fixed_page p.str_str{
    font-size: 1.3em;
    font-weight: bold;
}

#fixed_page p.special{
    font-size: 0.8em;
}

#fixed_page h5{
    font-size: 16px;
    position: relative;
    overflow: hidden;
    padding: 0.5rem 0.5em 0.5rem 3.5em;
    border: 2px solid #000;
}
  
#fixed_page h5:before {
    position: absolute;
    top: -150%;
    left: -100px;
    width: 144px;
    height: 300%;
    content: '';
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
    background: #000;
}

#fixed_page h5 span {
    font-size: 1.2em;
    position: absolute;
    z-index: 1;
    top: 2%;
    left: 0.1em;
    display: block;
    padding-top: 0.1em;
    padding-left: 0.1em;
    color: #fff;
}

#fixed_page .block_mass,
#fixed_page .fin_area {
    margin-bottom: 70px;
}

#fixed_page .inner_block_mass {
    margin: 25px 0 70px;
}

#fixed_page .fin_area {
    font-weight: bold;
    font-size: 0.9em;
}

#fixed_page .block_mass h4 {
    font-size: 1.1em;
    text-align: center;
    border-bottom: 3px double #404040;
}

#fixed_page .mar_left {
    margin-left: 15px;
}