body{
    margin: 0;
}
/**2**/
#main_area{
    display: flex;
}

#main_area #content{
    width: 80%;
    float: right;
    margin-left: 20%;
}

#main_area #fixed_menu{
    width: 20%;
    position: fixed;
    height: 100vh;
    background-color: #930000;
}

#main_area #fixed_menu .fixed_menu_outer{
    width: 90%;
    max-width: 230px;
    margin: -16px auto;
    height: 100vh;
    background-color: #FFF;
}

#main_area #fixed_menu .fixed_menu_outer ul{
    width: 90%;
    margin: 16px auto;
    height: 100vh;
    background-color: #000;
    padding: 0;
    list-style-type: none;
}

#main_area #fixed_menu .fixed_menu_outer ul li{
    text-align: center;
    padding: 10px 0;
}

#main_area #fixed_menu .fixed_menu_outer ul .logo_area{
    padding: 23px 0;
}

#main_area #fixed_menu .fixed_menu_outer ul li:not(.logo_area){
    border-top: 1px solid #FFF;
}

#main_area #fixed_menu .fixed_menu_outer ul li:last-child{
    border-bottom: 1px solid #FFF;
}

#main_area #fixed_menu .fixed_menu_outer ul li a{
    color:#FFF;
    font-weight: bold;
    font-size: 1.2em;
    text-decoration: none;
}

#main_area #fixed_menu .fixed_menu_outer ul .logo_area img{
    width: 90%;
    margin: 0 auto;
    
}

/**contain*/
#header .inner_header{
    /* background: #930000; */
    background: url('/images/test/bg_test.png');
    background-size: cover;
    height:100vh;
    display: flex;
    -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
    align-items: center; /* 縦方向中央揃え */
    -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
    justify-content: center; /* 横方向中央揃え */
    background-repeat: no-repeat;
}

.footer{
    background: #930000;
    width:100%;
    height: 300px;
    color: #FFF;
}

#body{
    padding:10px;
}

h2 {
    position: relative;
    border-bottom: 3px solid #000;
}
 
h2::after {
    position: absolute;
    content: " ";
    display: block;     
    border-bottom: solid 3px #930000;
    bottom: -3px;
    width:15%;
}