body{
    margin: 0;
}

footer{
    position: fixed;
    width: 100%;
    bottom: 0px;
    font-size: 0;
    opacity: 1;
    z-index: 99;
}

/*メニューを横並びにする*/
footer ul{
   display: flex;
   list-style: none;
   padding:0;
   margin:0;
   width:100%;
   height: 41px;
}

footer li{
   justify-content: center;
   align-items: center;
   width: 20%;
   padding:0;
   margin:0;
   font-size: 14px;
   border-right: 1px solid #FFF;
   background: #000;
}

/*ボタンを調整*/
footer li a{
    color: #FFF;
    text-align: center;
    display:block;
    padding:10px;
    font-weight: bold;
    text-decoration: none;
 }

 footer li a.logo_area{
    padding:0;
 }
 
 footer li a .menu_logo{
     width: 128px;
     height: 41px;
 }
 
 #header .inner_header{
    background:linear-gradient(-45deg, #000 50%, #930000 50%);
    width: 100%;
    height: calc(100vh - 41px);
    display: flex;
    -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
    align-items: center; /* 縦方向中央揃え */
    -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
    justify-content: center; /* 横方向中央揃え */
    background-repeat: no-repeat;

}

#header .inner_header .inner_header_mass{
    width: 100%;
    height: calc(100vh - 41px);
}

#header .inner_header .inner_header_text{
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    color:#FFF;
    position: relative;
    top: 38%;
}

#header .inner_header .inner_header_logo{
    height: 100px;
    width: auto;
    vertical-align: text-bottom;
}

#header .inner_header .inner_header_text .ja{
    font-size: 45px;
}

#header .inner_header .inner_header_text .en{
    font-size: 100px;
}









